@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#logo {
  font-family: "Big Shoulders Display", cursive;
  font-size: 200px;
  color: #333;
  display: inline;
  padding: 0 1rem;
}

#list {
  margin-left: 1.6rem;
  font-size: 18px;
}

.left-nav.closed {
  display: none;
}

@media (min-width: 900px) {
  .menu-button {
    display: none;
  }
  .left-nav {
    display: block;
  }

  .mainContent {
    margin-left: 220px;
  }

  .left-nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background: #f4f4f4;
    padding: 20px;
    display: block;
  }
}

@media (max-width: 900px) {
  .menu-button {
    display: block;
    position: absolute;
    right: 12px;
    top: 12px;
  }
  .left-nav {
    display: block;
  }

  .left-nav-container {
    padding: 20px;
  }
}
