@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#logo {
  font-family: "Big Shoulders Display", cursive;
  font-size: 200px;
  color: #333;
  display: inline;
  padding: 0 1rem;
}

#list {
  margin-left: 1.6rem;
  font-size: 18px;
}

#todo {
  border: 1px solid #b3d1ff;
  background-color: #f0f8ff;
  padding: 0 1rem;
  border-radius: 8px;
}

#comingsoon {
  border: 1px solid #7fbf7f;
  background-color: #f0fff0;
  padding: 0 1rem;
  border-radius: 8px;
}

.left-nav.closed {
  display: none;
}

@media (min-width: 900px) {
  .menu-button {
    display: none;
  }
  .left-nav {
    display: block;
  }

  .mainContent {
    margin-left: 220px;
  }

  .embeddedContent {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
  }

  .left-nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 290px;
    background-color: #f9f9f9;
    padding: 20px;
    display: block;
    overflow-y: auto;
  }

  li {
    padding: 2px 6px;
    border-radius: 4px;
  }

  #butt a {
    width: 100%;
    display: block;
  }

  #butt li:hover {
    background-color: #007bff5d;
    color: #fff;
  }
}

@media (max-width: 900px) {
  .menu-button {
    display: block;
    position: absolute;
    right: 12px;
    top: 12px;
  }
  .left-nav {
    display: block;
  }

  .left-nav-container {
    margin: 0 auto;
    padding: 1rem;
    width: 600px;
    top: 12px;
  }
}

@media print {
  /* Remove elements that are not needed in print */
  header,
  footer,
  nav,
  aside,
  .no-print,
  #butt {
    display: none;
  }

  /* Ensure the content spans the full width */
  body,
  article,
  section {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  /* Adjust the font size and line height for better readability */
  body {
    font-size: 12pt;
    line-height: 1.5;
  }

  /* Optimize images for printing */
  img {
    max-width: 100% !important;
    page-break-inside: avoid;
  }

  /* Avoid page breaks inside sections for continuity */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  figure {
    page-break-inside: avoid;
  }

  /* Display URLs after links */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* Apply custom styles for tables */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  /* Adjust colors for better print quality */
  body {
    color: #000;
    background: #fff;
  }
  a,
  a:visited {
    text-decoration: underline;
    color: #000;
  }

  .mainContent {
    margin-left: 0;
  }
}
